{% extends 'base_generic.html' %}

{% block title %}
    <title>Редактирование профиля</title>
{% endblock %}

{% block content %}

    <form method="post">
        {% csrf_token %}

        {{ form.first_name }}
        <br>
        {{ form.last_name }}
        <br>
        {{ form.date_of_birth }}
        <br>
        {{ form.description }}
        <br>
        {{ form.photo }}
        <br>
        {{ form.status }}
        <br><br>
        <button type="submit" class="btn btn-success">Сохранить</button>
    </form>


{% endblock %}